<div class="container">
    <div class="main-outer">
        
        <div class="container">
            <div class="row">
              <div class="form-check-inline mt-1 actionable_info">
                <button type="button" class="btn btn-primary add-form col-md-12 p-2 mr-5" (click)="addnew()" >
                  Add New
                </button>
              </div>
              <div class="search-hero">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
              </div>
            
            </div>
          </div>
        
        <div class="main-inner">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Roll No
                        </th>
                        <th>
                            Date Of Birth
                        </th>
                        <th>
                            Phone No
                        </th>
                        <th >
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let item of homeService.StudentData | filter:searchText; let i = index">
                        <td>{{item?.Id}}</td>
                        <td>{{item?.Name}}</td>
                        <td>{{item?.RollNo}}</td>
                        <td>{{item?.DateOFBirth}}</td>
                        <td>{{item?.Phone}}</td>
                        <td><div>
                            <a class="icon"><i class="fa-solid fa-pen-to-square" (click)="openeditfunction(item.Id)">Edit</i></a> &nbsp;&nbsp;
                            <a class="icon"><i (click)="openViewFunction(item.Id)">View</i></a>&nbsp;&nbsp;
                            <a class="icon"><i (click)="deleteRow(item.Id)">delete</i></a>
                        </div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
