<div class="container">
    <div class="main-outer">
        <div class="button-area">
            <button class="btn btn-primary mb-3 mt-2" (click)="addnew()">Add +</button>
        </div>
        <div class="main-inner">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Roll No
                        </th>
                        <th>
                            Date Of Birth
                        </th>
                        <th>
                            Phone No
                        </th>
                        <th >
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let item of homeService.StudentData; let i = index">
                        <td>{{item?.Id}}</td>
                        <td>{{item?.Name}}</td>
                        <td>{{item?.RollNo}}</td>
                        <td>{{item?.DateOFBirth}}</td>
                        <td>{{item?.Phone}}</td>
                        <td><div>
                            <a class="icon"><i class="fa-solid fa-pen-to-square" (click)="openeditfunction(item.Id)">Edit</i></a> &nbsp;&nbsp;
                            <a class="icon"><i (click)="openViewFunction(item.Id)">View</i></a>&nbsp;&nbsp;
                            <a class="icon"><i (click)="deleteRow(item.Id)">delete</i></a>
                        </div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
