<p>This is covid page</p>

<div class="table-layout-fixed"> 
  <div class="search-hero" style="margin-left: 67%;">
    <input class="" id="searchInp" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="" (keyup.enter)="searchTable()">
  </div>
  <table class="table center-aligned-table container-border table-striped table-hover container  sortable-table" id="table">
    <thead>
      <tr class="overview-tble-btm" >
        <!-- <th>SR.No</th> -->
        <th (click)="sortTable(0)" style="cursor: pointer;">▲Delta▼</th>
        <th (click)="sortTable(1)" style="cursor: pointer;">▲Delta7▼</th>
        <th (click)="sortTable(2)" style="cursor: pointer;">▲Total▼</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let query of addPageList | filter: searchText  ; let i = index" class="safety-query-row-1" id="countList"> 
        <!-- <td>{{ i + 1}}</td> -->
        <td class="query_td_width">
          {{ query?.delta?.confirmed ? query?.delta?.confirmed : '-' }}
        </td>
        <td class="query_td_width">
          {{ query?.delta7?.confirmed ? query?.delta7?.confirmed : '-' }}
        </td>
        <td class="query_td_width">
          {{  query?.total?.confirmed ? query?.total?.confirmed : '-'}}
        </td>
      </tr>
      <tr *ngIf="addPageList?.length === 0">
        <td colspan="12">
          <h5>No Data Availabe for this category. </h5>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="float-right">
  <div class="pagination">
    <button class="prev_button" type="button" (click)="getPreviousPage()" [disabled]="presentPage == 1 ? true : false">
      Prev
    </button>
    <button class="next_button btn-primary" type="button" (click)="getNextPage()" [disabled]="presentPage == countOfPages ? true : false">
      Next
    </button>
  </div>
</div>
