<div class="container mt-5">
    <div class="main-container">
        <form class="" [formGroup]="studentData">
            <div class="form-inline row">
              <div class="form-group col-md-6 mb-3">
                <div class="w-40 d-flex">
                  <label class="text-capitalize">ID :</label>
                  <span class="text-danger">*</span>
                </div>
                <div class="w-60">
                  <input type="text" class="form-control w-100"  placeholder="" aria-label="inp" formControlName="Id">
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <div class="w-40">
                  <label class="text-capitalize">Name :</label>
                </div>
                <div class="w-60">
                  <input type="text" class="form-control w-100"  placeholder="" aria-label="inp" formControlName="Name">
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <div class="w-40">
                  <label class="text-capitalize">Roll No :</label>
                </div>
                <div class="w-60">
                  <input type="text" class="form-control w-100"  placeholder="" aria-label="inp" formControlName="RollNo" >
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <div class="w-40">
                  <label class="text-capitalize">Date Of Birth :</label>
                </div>
                <div class="w-60">
                  <input type="date" class="form-control w-100"  placeholder="" aria-label="inp" formControlName="DateOFBirth">
                </div>
                
              </div>
              <div class="form-group col-md-6 mb-3">
                <div class="w-40">
                  <label class="text-capitalize">Phone No :</label>
                </div>
                <div class="w-60">
                  <input type="text" class="form-control w-100"  placeholder="" aria-label="inp" formControlName="Phone" >
                </div>
              </div>
              </div>
            <div>
              <button (click)="submitData()">Save</button>
            </div>
          </form>
    </div>
</div>
