<div class="container mt-5">
    <div class="main-container">
        <form class="" [formGroup]="studentData">
            <div class="form-inline row">
              <div class="form-group col-md-6 mb-3">
                <div class="w-40 d-flex">
                  <label class="text-capitalize">ID :</label>
                  <span class="text-danger">*</span>
                </div>
                <div class="w-60">
                  <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" [disabled]="action==='view'"
                   class="form-control w-100"  placeholder="" aria-label="inp" formControlName="Id">
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <div class="w-40">
                  <label class="text-capitalize">Name :</label>
                </div>
                <div class="w-60">
                  <input type="text" class="form-control w-100"  placeholder="" aria-label="inp" formControlName="Name" [disabled]="action==='view'">
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <div class="w-40">
                  <label class="text-capitalize">Roll No :</label>
                </div>
                <div class="w-60">
                  <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" [disabled]="action==='view'"
                  class="form-control w-100"  placeholder="" aria-label="inp" formControlName="RollNo" >
                </div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <div class="w-40">
                  <label class="text-capitalize">Date Of Birth :</label>
                </div>
                <div class="w-60">
                  <input type="date" class="form-control w-100"  placeholder="" aria-label="inp" formControlName="DateOFBirth" [disabled]="action==='view'">
                </div>
                
              </div>
              <div class="form-group col-md-6 mb-3">
                <div class="w-40">
                  <label class="text-capitalize">Phone No :</label>
                </div>
                <div class="w-60">
                  <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  [disabled]="action==='view'"
                   class="form-control w-100"  placeholder="" aria-label="inp" formControlName="Phone" [maxlength]="10">
                </div>
              </div>
              </div>
            <div>
              <button class="btn btn-primary mb-3 mt-2" data-target="#confirmationModal" (click)="submitData()" [disabled]="studentData.controls['Id'].invalid || studentData.controls['Name'].invalid || studentData.controls['RollNo'].invalid || studentData.controls['DateOFBirth'].invalid || studentData.controls['Phone'].invalid || action=== 'view'">Save</button>
            </div>
          </form>
    </div>
</div>

<ng-template #confirmationModal let-modal>
  <form>
    <div class="modal-header">
      <h5 class="modal-title">{{submitHeader}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4>{{submitMsg}}</h4>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success"
        (click)="modal.close('Save click');"> Ok
      </button>
    </div>
  </form>
</ng-template>